{%extends 'layout.html' %}
{% import 'macros.html' as macros %}

{%block link%}
<link rel="stylesheet" href="/public/css/sign.css" />
{%endblock%}

{%block main%}
<div class="main">

  <div class="container">
    <div class="box">
      <div class="h">
        <h2 class="title">注册</h2>
      </div>
      <div class="c">
        <form action="/signup" method="post" class="sign-form">
          <p>
            <label for="">用户名：</label>
            <input type="text" class="input" name="username" />
          </p>
          <p>
            <label for="">密码：</label>
            <input type="password" class="input" name="password" />
          </p>
          <p>
            <label for="">重复密码：</label>
            <input type="password" class="input" name="repassword" />
          </p>
          <p>
            <button class="btn btn-primary">注册</button>
            <a href="/signin" class="btn">我有账号，立即登录</a>
          </p>
        </form>
      </div>
    </div>
  </div>

</div>
{%endblock%}